.MainBox {
  display: 'flex';
  /* margin-top: 25px; */
  /* border: 2px solid blue; */
}

.MainNavigation {
  padding: 15px;
  flex: 1;
}

/* Sidebar 사용 시 사용하세요. */
/* @media (min-width: 1400px) {
  .MainNavigation {
    margin-left: 220px;
    padding: 15px;
    flex: 1;
  }
} */
