/* .btn btn-android {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */

/* 기본 버튼 스타일 */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* 구글스토어 스타일 */
.btn-android {
  background-color: #34a853; /* 구글플레이 녹색 */
  color: white;
  border: 2px solid #34a853;
}

.btn-android:hover {
  background-color: #2c8e41; /* hover시 진한 녹색 */
  transform: scale(1.05); /* hover시 크기 약간 증가 */
}

/* 앱스토어 스타일 */
.btn-ios {
  background-color: #007aff; /* 아이폰 블루 */
  color: white;
  border: 2px solid #007aff;
}

.btn-ios:hover {
  background-color: #005bb5; /* hover시 진한 블루 */
  transform: scale(2.05); /* hover시 크기 약간 증가 */
}
